
.help-card-promo .help-card-promo__wrapper--blue {
    background-color: #7599e2;
}

.help-card-promo .middle-content__text-date--blue {
    color: #7599e2;
}

.help-card-promo .middle-content__line-left--blue {
    background-color: #7599e2;
}

.help-card-promo .middle-content__line-right--blue {
    background-color: #e5edff;
}